

body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: darkslategray;
  border-style: solid;
  border-color: white;
}
.intro{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  padding-bottom: 100px;
  font-size: 50px;
  color: white;

}
p {
    font-family:'Work Sans', sans-serif;
    color: white;
    font-size: larger;

    padding-top: 200px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color:rgb(12, 65, 67);
	color:grey;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
 border-color: white;
}
button:hover{
	background-color: #38a;
 
}

.hide {
  display: none;
}
